@import url('flatpickr/dist/flatpickr.min.css');
@import url('izitoast/dist/css/iziToast.min.css');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.field {
    text-align: center;
}

.value {
    font-size: 2rem;
    font-weight: bold;
}

.label {
    display: block;
    font-size: 1rem;
    color: gray;
}